<div class="jumbotron">
    <h1 class="display-4">{{ person.firstname }} {{ person.name }}</h1>
    <p class="lead">{{ person.adress }} {{ person.city }}</p>
    <hr class="my-4">
    <p>Age : {{ person.age }}</p>
    <a class="btn btn-primary btn-lg" href="tel:{{ person.phone }}" role="button">Téléphoner la personne</a>
</div>